.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.product-name {
    font-size: 20px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.price {
    font-weight: bold;
    font-size: 24px;
}